/* book-site/src/components/YouTubeEmbed/styles.module.css */

.youTubeEmbedContainer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  margin-bottom: var(--ifm-spacing-vertical); /* Add some margin below the video */
  border-radius: var(--ifm-global-radius); /* Use Docusaurus border radius */
  box-shadow: var(--ifm-global-shadow-lw); /* Use Docusaurus shadow */
}

.youTubeIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.youTubeEmbedError {
  background-color: var(--ifm-color-danger);
  color: var(--ifm-color-white);
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}